<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CiclistasNombre</servlet-name>
        <servlet-class>Controlador.CiclistasNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoCiclista</servlet-name>
        <servlet-class>Controlador.EquipoCiclista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiclistasEquipo</servlet-name>
        <servlet-class>Controlador.CiclistasEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPuertos</servlet-name>
        <servlet-class>Controlador.GetPuertos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuertoCategoria</servlet-name>
        <servlet-class>Controlador.PuertoCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuertoPicos</servlet-name>
        <servlet-class>Controlador.PuertoPicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtapasTodas</servlet-name>
        <servlet-class>Controlador.EtapasTodas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PorEtapas</servlet-name>
        <servlet-class>Controlador.PorEtapas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PorMaillot</servlet-name>
        <servlet-class>Controlador.PorMaillot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PorCiclista</servlet-name>
        <servlet-class>Controlador.PorCiclista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaillotsTodos</servlet-name>
        <servlet-class>Controlador.MaillotsTodos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCiclista</servlet-name>
        <servlet-class>Controlador.AddCiclista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipo</servlet-name>
        <servlet-class>Controlador.AddEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCiclista</servlet-name>
        <servlet-class>Controlador.DeleteCiclista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiclistaPorNombre</servlet-name>
        <servlet-class>Controlador.CiclistaPorNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCiclista</servlet-name>
        <servlet-class>Controlador.UpdateCiclista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipos</servlet-name>
        <servlet-class>Controlador.Equipos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CiclistasNombre</servlet-name>
        <url-pattern>/CiclistasNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoCiclista</servlet-name>
        <url-pattern>/EquipoCiclista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiclistasEquipo</servlet-name>
        <url-pattern>/CiclistasEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPuertos</servlet-name>
        <url-pattern>/GetPuertos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuertoCategoria</servlet-name>
        <url-pattern>/PuertoCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuertoPicos</servlet-name>
        <url-pattern>/PuertoPicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtapasTodas</servlet-name>
        <url-pattern>/EtapasTodas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PorEtapas</servlet-name>
        <url-pattern>/PorEtapas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PorMaillot</servlet-name>
        <url-pattern>/PorMaillot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PorCiclista</servlet-name>
        <url-pattern>/PorCiclista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaillotsTodos</servlet-name>
        <url-pattern>/MaillotsTodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCiclista</servlet-name>
        <url-pattern>/AddCiclista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipo</servlet-name>
        <url-pattern>/AddEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCiclista</servlet-name>
        <url-pattern>/DeleteCiclista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiclistaPorNombre</servlet-name>
        <url-pattern>/CiclistaPorNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCiclista</servlet-name>
        <url-pattern>/UpdateCiclista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipos</servlet-name>
        <url-pattern>/Equipos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
